@keyframes flip-wave-0 {
  5% {
    transform: translate3d(0, -16px, 0) rotate(720deg);
  }
  10% {
    transform: translate3d(0, 0, 0) rotate(720deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(720deg);
  }
}
/* line 19, ../sass/_flip.scss */
.txtwav.flip :nth-child(20n + 0) {
  display: inline-block;
  animation-duration: 4s;
  animation-name: flip-wave-0;
  animation-iteration-count: infinite;
}

@keyframes flip-wave-1 {
  10% {
    transform: translate3d(0, -16px, 0) rotate(720deg);
  }
  15% {
    transform: translate3d(0, 0, 0) rotate(720deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(720deg);
  }
}
/* line 19, ../sass/_flip.scss */
.txtwav.flip :nth-child(20n + 1) {
  display: inline-block;
  animation-duration: 4s;
  animation-name: flip-wave-1;
  animation-iteration-count: infinite;
}

@keyframes flip-wave-2 {
  15% {
    transform: translate3d(0, -16px, 0) rotate(720deg);
  }
  20% {
    transform: translate3d(0, 0, 0) rotate(720deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(720deg);
  }
}
/* line 19, ../sass/_flip.scss */
.txtwav.flip :nth-child(20n + 2) {
  display: inline-block;
  animation-duration: 4s;
  animation-name: flip-wave-2;
  animation-iteration-count: infinite;
}

@keyframes flip-wave-3 {
  20% {
    transform: translate3d(0, -16px, 0) rotate(720deg);
  }
  25% {
    transform: translate3d(0, 0, 0) rotate(720deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(720deg);
  }
}
/* line 19, ../sass/_flip.scss */
.txtwav.flip :nth-child(20n + 3) {
  display: inline-block;
  animation-duration: 4s;
  animation-name: flip-wave-3;
  animation-iteration-count: infinite;
}

@keyframes flip-wave-4 {
  25% {
    transform: translate3d(0, -16px, 0) rotate(720deg);
  }
  30% {
    transform: translate3d(0, 0, 0) rotate(720deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(720deg);
  }
}
/* line 19, ../sass/_flip.scss */
.txtwav.flip :nth-child(20n + 4) {
  display: inline-block;
  animation-duration: 4s;
  animation-name: flip-wave-4;
  animation-iteration-count: infinite;
}

@keyframes flip-wave-5 {
  30% {
    transform: translate3d(0, -16px, 0) rotate(720deg);
  }
  35% {
    transform: translate3d(0, 0, 0) rotate(720deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(720deg);
  }
}
/* line 19, ../sass/_flip.scss */
.txtwav.flip :nth-child(20n + 5) {
  display: inline-block;
  animation-duration: 4s;
  animation-name: flip-wave-5;
  animation-iteration-count: infinite;
}

@keyframes flip-wave-6 {
  35% {
    transform: translate3d(0, -16px, 0) rotate(720deg);
  }
  40% {
    transform: translate3d(0, 0, 0) rotate(720deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(720deg);
  }
}
/* line 19, ../sass/_flip.scss */
.txtwav.flip :nth-child(20n + 6) {
  display: inline-block;
  animation-duration: 4s;
  animation-name: flip-wave-6;
  animation-iteration-count: infinite;
}

@keyframes flip-wave-7 {
  40% {
    transform: translate3d(0, -16px, 0) rotate(720deg);
  }
  45% {
    transform: translate3d(0, 0, 0) rotate(720deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(720deg);
  }
}
/* line 19, ../sass/_flip.scss */
.txtwav.flip :nth-child(20n + 7) {
  display: inline-block;
  animation-duration: 4s;
  animation-name: flip-wave-7;
  animation-iteration-count: infinite;
}

@keyframes flip-wave-8 {
  45% {
    transform: translate3d(0, -16px, 0) rotate(720deg);
  }
  50% {
    transform: translate3d(0, 0, 0) rotate(720deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(720deg);
  }
}
/* line 19, ../sass/_flip.scss */
.txtwav.flip :nth-child(20n + 8) {
  display: inline-block;
  animation-duration: 4s;
  animation-name: flip-wave-8;
  animation-iteration-count: infinite;
}

@keyframes flip-wave-9 {
  50% {
    transform: translate3d(0, -16px, 0) rotate(720deg);
  }
  55% {
    transform: translate3d(0, 0, 0) rotate(720deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(720deg);
  }
}
/* line 19, ../sass/_flip.scss */
.txtwav.flip :nth-child(20n + 9) {
  display: inline-block;
  animation-duration: 4s;
  animation-name: flip-wave-9;
  animation-iteration-count: infinite;
}

@keyframes flip-wave-10 {
  55% {
    transform: translate3d(0, -16px, 0) rotate(720deg);
  }
  60% {
    transform: translate3d(0, 0, 0) rotate(720deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(720deg);
  }
}
/* line 19, ../sass/_flip.scss */
.txtwav.flip :nth-child(20n + 10) {
  display: inline-block;
  animation-duration: 4s;
  animation-name: flip-wave-10;
  animation-iteration-count: infinite;
}

@keyframes flip-wave-11 {
  60% {
    transform: translate3d(0, -16px, 0) rotate(720deg);
  }
  65% {
    transform: translate3d(0, 0, 0) rotate(720deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(720deg);
  }
}
/* line 19, ../sass/_flip.scss */
.txtwav.flip :nth-child(20n + 11) {
  display: inline-block;
  animation-duration: 4s;
  animation-name: flip-wave-11;
  animation-iteration-count: infinite;
}

@keyframes flip-wave-12 {
  65% {
    transform: translate3d(0, -16px, 0) rotate(720deg);
  }
  70% {
    transform: translate3d(0, 0, 0) rotate(720deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(720deg);
  }
}
/* line 19, ../sass/_flip.scss */
.txtwav.flip :nth-child(20n + 12) {
  display: inline-block;
  animation-duration: 4s;
  animation-name: flip-wave-12;
  animation-iteration-count: infinite;
}

@keyframes flip-wave-13 {
  70% {
    transform: translate3d(0, -16px, 0) rotate(720deg);
  }
  75% {
    transform: translate3d(0, 0, 0) rotate(720deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(720deg);
  }
}
/* line 19, ../sass/_flip.scss */
.txtwav.flip :nth-child(20n + 13) {
  display: inline-block;
  animation-duration: 4s;
  animation-name: flip-wave-13;
  animation-iteration-count: infinite;
}

@keyframes flip-wave-14 {
  75% {
    transform: translate3d(0, -16px, 0) rotate(720deg);
  }
  80% {
    transform: translate3d(0, 0, 0) rotate(720deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(720deg);
  }
}
/* line 19, ../sass/_flip.scss */
.txtwav.flip :nth-child(20n + 14) {
  display: inline-block;
  animation-duration: 4s;
  animation-name: flip-wave-14;
  animation-iteration-count: infinite;
}

@keyframes flip-wave-15 {
  80% {
    transform: translate3d(0, -16px, 0) rotate(720deg);
  }
  85% {
    transform: translate3d(0, 0, 0) rotate(720deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(720deg);
  }
}
/* line 19, ../sass/_flip.scss */
.txtwav.flip :nth-child(20n + 15) {
  display: inline-block;
  animation-duration: 4s;
  animation-name: flip-wave-15;
  animation-iteration-count: infinite;
}

@keyframes flip-wave-16 {
  85% {
    transform: translate3d(0, -16px, 0) rotate(720deg);
  }
  90% {
    transform: translate3d(0, 0, 0) rotate(720deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(720deg);
  }
}
/* line 19, ../sass/_flip.scss */
.txtwav.flip :nth-child(20n + 16) {
  display: inline-block;
  animation-duration: 4s;
  animation-name: flip-wave-16;
  animation-iteration-count: infinite;
}

@keyframes flip-wave-17 {
  90% {
    transform: translate3d(0, -16px, 0) rotate(720deg);
  }
  95% {
    transform: translate3d(0, 0, 0) rotate(720deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(720deg);
  }
}
/* line 19, ../sass/_flip.scss */
.txtwav.flip :nth-child(20n + 17) {
  display: inline-block;
  animation-duration: 4s;
  animation-name: flip-wave-17;
  animation-iteration-count: infinite;
}

@keyframes flip-wave-18 {
  95% {
    transform: translate3d(0, -16px, 0) rotate(720deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(720deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(720deg);
  }
}
/* line 19, ../sass/_flip.scss */
.txtwav.flip :nth-child(20n + 18) {
  display: inline-block;
  animation-duration: 4s;
  animation-name: flip-wave-18;
  animation-iteration-count: infinite;
}

@keyframes flip-wave-19 {
  100% {
    transform: translate3d(0, -16px, 0) rotate(720deg);
  }
  105% {
    transform: translate3d(0, 0, 0) rotate(720deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(720deg);
  }
}
/* line 19, ../sass/_flip.scss */
.txtwav.flip :nth-child(20n + 19) {
  display: inline-block;
  animation-duration: 4s;
  animation-name: flip-wave-19;
  animation-iteration-count: infinite;
}

@keyframes slow-wave {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
/* line 17, ../sass/txt.wav.scss */
.txtwav.slow span {
  display: inline-block;
  animation-duration: 3s;
  animation-name: slow-wave;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* line 26, ../sass/txt.wav.scss */
.txtwav.slow :nth-child(25n + 0) {
  animation-delay: -6s;
}

/* line 26, ../sass/txt.wav.scss */
.txtwav.slow :nth-child(25n + 1) {
  animation-delay: -5.76s;
}

/* line 26, ../sass/txt.wav.scss */
.txtwav.slow :nth-child(25n + 2) {
  animation-delay: -5.52s;
}

/* line 26, ../sass/txt.wav.scss */
.txtwav.slow :nth-child(25n + 3) {
  animation-delay: -5.28s;
}

/* line 26, ../sass/txt.wav.scss */
.txtwav.slow :nth-child(25n + 4) {
  animation-delay: -5.04s;
}

/* line 26, ../sass/txt.wav.scss */
.txtwav.slow :nth-child(25n + 5) {
  animation-delay: -4.8s;
}

/* line 26, ../sass/txt.wav.scss */
.txtwav.slow :nth-child(25n + 6) {
  animation-delay: -4.56s;
}

/* line 26, ../sass/txt.wav.scss */
.txtwav.slow :nth-child(25n + 7) {
  animation-delay: -4.32s;
}

/* line 26, ../sass/txt.wav.scss */
.txtwav.slow :nth-child(25n + 8) {
  animation-delay: -4.08s;
}

/* line 26, ../sass/txt.wav.scss */
.txtwav.slow :nth-child(25n + 9) {
  animation-delay: -3.84s;
}

/* line 26, ../sass/txt.wav.scss */
.txtwav.slow :nth-child(25n + 10) {
  animation-delay: -3.6s;
}

/* line 26, ../sass/txt.wav.scss */
.txtwav.slow :nth-child(25n + 11) {
  animation-delay: -3.36s;
}

/* line 26, ../sass/txt.wav.scss */
.txtwav.slow :nth-child(25n + 12) {
  animation-delay: -3.12s;
}

/* line 26, ../sass/txt.wav.scss */
.txtwav.slow :nth-child(25n + 13) {
  animation-delay: -2.88s;
}

/* line 26, ../sass/txt.wav.scss */
.txtwav.slow :nth-child(25n + 14) {
  animation-delay: -2.64s;
}

/* line 26, ../sass/txt.wav.scss */
.txtwav.slow :nth-child(25n + 15) {
  animation-delay: -2.4s;
}

/* line 26, ../sass/txt.wav.scss */
.txtwav.slow :nth-child(25n + 16) {
  animation-delay: -2.16s;
}

/* line 26, ../sass/txt.wav.scss */
.txtwav.slow :nth-child(25n + 17) {
  animation-delay: -1.92s;
}

/* line 26, ../sass/txt.wav.scss */
.txtwav.slow :nth-child(25n + 18) {
  animation-delay: -1.68s;
}

/* line 26, ../sass/txt.wav.scss */
.txtwav.slow :nth-child(25n + 19) {
  animation-delay: -1.44s;
}

/* line 26, ../sass/txt.wav.scss */
.txtwav.slow :nth-child(25n + 20) {
  animation-delay: -1.2s;
}

/* line 26, ../sass/txt.wav.scss */
.txtwav.slow :nth-child(25n + 21) {
  animation-delay: -0.96s;
}

/* line 26, ../sass/txt.wav.scss */
.txtwav.slow :nth-child(25n + 22) {
  animation-delay: -0.72s;
}

/* line 26, ../sass/txt.wav.scss */
.txtwav.slow :nth-child(25n + 23) {
  animation-delay: -0.48s;
}

/* line 26, ../sass/txt.wav.scss */
.txtwav.slow :nth-child(25n + 24) {
  animation-delay: -0.24s;
}

@keyframes bounce-wave {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
/* line 45, ../sass/txt.wav.scss */
.txtwav.bounce span {
  display: inline-block;
  animation-duration: 0.3s;
  animation-name: bounce-wave;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* line 54, ../sass/txt.wav.scss */
.txtwav.bounce :nth-child(25n + 0) {
  animation-delay: -0.6s;
}

/* line 54, ../sass/txt.wav.scss */
.txtwav.bounce :nth-child(25n + 1) {
  animation-delay: -0.576s;
}

/* line 54, ../sass/txt.wav.scss */
.txtwav.bounce :nth-child(25n + 2) {
  animation-delay: -0.552s;
}

/* line 54, ../sass/txt.wav.scss */
.txtwav.bounce :nth-child(25n + 3) {
  animation-delay: -0.528s;
}

/* line 54, ../sass/txt.wav.scss */
.txtwav.bounce :nth-child(25n + 4) {
  animation-delay: -0.504s;
}

/* line 54, ../sass/txt.wav.scss */
.txtwav.bounce :nth-child(25n + 5) {
  animation-delay: -0.48s;
}

/* line 54, ../sass/txt.wav.scss */
.txtwav.bounce :nth-child(25n + 6) {
  animation-delay: -0.456s;
}

/* line 54, ../sass/txt.wav.scss */
.txtwav.bounce :nth-child(25n + 7) {
  animation-delay: -0.432s;
}

/* line 54, ../sass/txt.wav.scss */
.txtwav.bounce :nth-child(25n + 8) {
  animation-delay: -0.408s;
}

/* line 54, ../sass/txt.wav.scss */
.txtwav.bounce :nth-child(25n + 9) {
  animation-delay: -0.384s;
}

/* line 54, ../sass/txt.wav.scss */
.txtwav.bounce :nth-child(25n + 10) {
  animation-delay: -0.36s;
}

/* line 54, ../sass/txt.wav.scss */
.txtwav.bounce :nth-child(25n + 11) {
  animation-delay: -0.336s;
}

/* line 54, ../sass/txt.wav.scss */
.txtwav.bounce :nth-child(25n + 12) {
  animation-delay: -0.312s;
}

/* line 54, ../sass/txt.wav.scss */
.txtwav.bounce :nth-child(25n + 13) {
  animation-delay: -0.288s;
}

/* line 54, ../sass/txt.wav.scss */
.txtwav.bounce :nth-child(25n + 14) {
  animation-delay: -0.264s;
}

/* line 54, ../sass/txt.wav.scss */
.txtwav.bounce :nth-child(25n + 15) {
  animation-delay: -0.24s;
}

/* line 54, ../sass/txt.wav.scss */
.txtwav.bounce :nth-child(25n + 16) {
  animation-delay: -0.216s;
}

/* line 54, ../sass/txt.wav.scss */
.txtwav.bounce :nth-child(25n + 17) {
  animation-delay: -0.192s;
}

/* line 54, ../sass/txt.wav.scss */
.txtwav.bounce :nth-child(25n + 18) {
  animation-delay: -0.168s;
}

/* line 54, ../sass/txt.wav.scss */
.txtwav.bounce :nth-child(25n + 19) {
  animation-delay: -0.144s;
}

/* line 54, ../sass/txt.wav.scss */
.txtwav.bounce :nth-child(25n + 20) {
  animation-delay: -0.12s;
}

/* line 54, ../sass/txt.wav.scss */
.txtwav.bounce :nth-child(25n + 21) {
  animation-delay: -0.096s;
}

/* line 54, ../sass/txt.wav.scss */
.txtwav.bounce :nth-child(25n + 22) {
  animation-delay: -0.072s;
}

/* line 54, ../sass/txt.wav.scss */
.txtwav.bounce :nth-child(25n + 23) {
  animation-delay: -0.048s;
}

/* line 54, ../sass/txt.wav.scss */
.txtwav.bounce :nth-child(25n + 24) {
  animation-delay: -0.024s;
}

@keyframes vibe-wave {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(4px);
  }
}
/* line 73, ../sass/txt.wav.scss */
.txtwav.vibe span {
  display: inline-block;
  animation-duration: 0.08s;
  animation-name: vibe-wave;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* line 82, ../sass/txt.wav.scss */
.txtwav.vibe :nth-child(10n + 0) {
  animation-delay: -0.16s;
}

/* line 82, ../sass/txt.wav.scss */
.txtwav.vibe :nth-child(10n + 1) {
  animation-delay: -0.144s;
}

/* line 82, ../sass/txt.wav.scss */
.txtwav.vibe :nth-child(10n + 2) {
  animation-delay: -0.128s;
}

/* line 82, ../sass/txt.wav.scss */
.txtwav.vibe :nth-child(10n + 3) {
  animation-delay: -0.112s;
}

/* line 82, ../sass/txt.wav.scss */
.txtwav.vibe :nth-child(10n + 4) {
  animation-delay: -0.096s;
}

/* line 82, ../sass/txt.wav.scss */
.txtwav.vibe :nth-child(10n + 5) {
  animation-delay: -0.08s;
}

/* line 82, ../sass/txt.wav.scss */
.txtwav.vibe :nth-child(10n + 6) {
  animation-delay: -0.064s;
}

/* line 82, ../sass/txt.wav.scss */
.txtwav.vibe :nth-child(10n + 7) {
  animation-delay: -0.048s;
}

/* line 82, ../sass/txt.wav.scss */
.txtwav.vibe :nth-child(10n + 8) {
  animation-delay: -0.032s;
}

/* line 82, ../sass/txt.wav.scss */
.txtwav.vibe :nth-child(10n + 9) {
  animation-delay: -0.016s;
}
