@import 'flip.scss';

// Slow-Wave
$slow-offset : -10px;
$slow-count : 25;
$slow-duration : 3;

@keyframes slow-wave {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY( $slow-offset );
  }
}

.txtwav.slow span {
  display: inline-block;
  animation-duration: #{$slow-duration}s;
  animation-name: slow-wave;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@for $i from 0 to $slow-count {
  .txtwav.slow :nth-child( #{$slow-count}n + #{$i} ) {
      animation-delay : -#{($slow-count - $i) * 2 * $slow-duration / $slow-count }s;
  }
}

// Bounce-Wave
$bounce-offset : -10px;
$bounce-count : 25;
$bounce-duration : 0.3;

@keyframes bounce-wave {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY( $bounce-offset );
  }
}

.txtwav.bounce span {
  display: inline-block;
  animation-duration: #{$bounce-duration}s;
  animation-name: bounce-wave;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@for $i from 0 to $bounce-count {
  .txtwav.bounce :nth-child( #{$bounce-count}n + #{$i} ) {
      animation-delay : -#{($bounce-count - $i) * 2 * $bounce-duration / $bounce-count }s;
  }
}

// Vibe-Wave
$vibe-offset : 4px;
$vibe-count : 10;
$vibe-duration : 0.08;

@keyframes vibe-wave {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY( $vibe-offset );
  }
}

.txtwav.vibe span {
  display: inline-block;
  animation-duration: #{$vibe-duration}s;
  animation-name: vibe-wave;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@for $i from 0 to $vibe-count {
  .txtwav.vibe :nth-child( #{$vibe-count}n + #{$i} ) {
      animation-delay : -#{($vibe-count - $i) * 2 * $vibe-duration / $vibe-count }s;
  }
}
